.about {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2.4rem;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.aboutText {
  margin-bottom: 2.4rem;
  font-weight: 200;
}
.linkGlow {
  font-weight: 600;
}
.linkGlow {
  background: linear-gradient(
      to right,
      rgb(10, 255, 157),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.linkGlow:hover {
  background-size: 0 3px, 100% 3px;
}
.links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.linksText {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-size: var(--text-sm);
  color: var(--brand);
}

.highlightFirstLetter:first-letter {
  background: var(--background-light);
  padding: 1rem;
  border-radius: 0.4rem;

  font-size: var(--text-md);
  font-weight: bold;

  margin-right: 0.6rem;

  float: left;
}
